{% extends 'main.html' %}

{% block title %}RANKING{% endblock %}

{% block page %}

<nav class="navigation">
    <div class="container">
        <h1 class="title">RANKING</h1>
        <hr>
        {% if user.is_authenticated %}
        hello {{ user.username }}
        <a href="{% url 'login' %}">logout</a>
        {% else %}
        <a href="{% url 'login' %}">login</a>
        {% endif %}

    </div>
</nav>

<div class="main-container">
    <div class="left-container">

    </div>
    <div class="right-container">

        <div class="container-table">


            <table class="table" border="1">
                <tr>
                    <td> </td>
                 {% for user in users %}
                    <td><a href="#">{{ user }}</a></td>
                 {% endfor %}

                </tr>
                 {% for film in films %}
                <tr>
                    <td><a href="{% url 'films_rating' film.id %}">{{ film.title }}</a></td>
                    {% endfor %}
                </tr>

                <tr>
                    {% for review in reviews %}

                        {% if review.user.username == "Aga" and review.films.id == film.id %}
                    <td>{{ review.points}}</td>
                        {% else %}
                    <td>A</td>
                        {% endif %}

                    {% endfor %}
                 </tr>





            </table>


        </div>
    </div>
</div>

{% endblock %}
